.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}


/*region MESSAGES*/
.alert {
  padding: 15px;
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.alert-info {
  border-color: #bce8f1;
  color: #31708f;
  background-color: #d9edf7;
}

.alert-error {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.global-errors {
  list-style-type: none;
  padding: 0;
}

/*endregion*/
body {
  font-family: Helvetica, sans-serif;
}

.home-inner{
  overflow-y: scroll;
}

footer {
  background-color: darkgrey;
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  height: 25px;
}

.navbar-brand {
  font-family: Rockwell, sans-serif;
}

.dark-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.home-inner {
  padding-top: 56px;
  padding-bottom: 25px;
  height: 100%;
}

.container {
  margin-top: 2rem;
}

.container {
  margin-top: 2rem;
}

.btn-primary {
  float: right;
}

.btn-secondary {
  float: left;
}

.form-group .iti {
  display: block;
}

.container .table-container {
  margin: 0 auto;
}

i {
  color: lightgrey;
}

.navbar-text {
  display: inline-flex;
  align-items: center;
}

tr, td {
  text-align: center;
}

.dropdown-item {
  color: dimgrey;
}

.remove-user {
  border: none;
  background-color: transparent;
  color: rgba(255, 0, 0, 0.64);
}

.edit-user {
  border: none;
  background-color: transparent;
  color: rgba(45, 41, 41, 0.64);

}

.download-button {
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;
  float: right;
}

.download-button:hover {
  background-color: RoyalBlue;
}
